* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.dataset {
    text-align: center;
}

.ds-link {
    color: #0000FF;
    font-size: calc(10px + 2vmin);
    display: inline-block;
    padding: 20px;
    flex-direction: column;
    line-height: 75px;
    align-items: center;
    justify-content: center;
}

.ds-downlink{
    color: #FF0000;
    font-size: calc(10px + 2vmin);
    padding: 10px;
    justify-content: center
}
.ds-metalink{
    color: BLACK;
    font-size: calc(10px + 2vmin);
    padding: 10px;
    justify-content: center
}