.Login {
    text-align: center;
    horiz-align: center;
    padding: 10%;
    }

.Login form{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
