h1 {
  text-align: center;  
}



.project-table {
  padding-top: 0%;
}

.select-button {
  padding-top: 10px;
}

.enter-project {
  margin-top: 20px;
  display: flex;
} 

.submit-form {
  padding-right: 10px;
}

.select-project {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.project-list {
  padding-top: 10px;
  padding-left: 10px;
}